@model AFDB.Pages.Tables._MembershipFeesFullTableModel
@{
    int i = 1;
}

<table class="table table-sm table-hover table-striped">
    <tr>
        <th>#</th>
        <th>Id</th>
        <th>Asmens Id</th>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Narystė</th>
        <th>Suma</th>
        <th>Aprašymas</th>
        <th>Veiksmai</th>

    </tr>
    @foreach (var u in Model._membershipfeefulls)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@Html.DisplayFor(modelItem => u.Paymentid)</td>
            <td>@Html.DisplayFor(modelItem => u.Personid)</td>
            <td>@Html.DisplayFor(modelItem => u.Personfirstname)</td>
            <td>@Html.DisplayFor(modelItem => u.Personlastname)</td>
            <td>@Html.DisplayFor(modelItem => u.Membershipstatus)</td>
            <td>@Html.DisplayFor(modelItem => u.Amount)</td>
            <td>@Html.DisplayFor(modelItem => u.Description)</td>
            <td>
                <a type="button" class="btn btn-info btn-sm" asp-area="" asp-page="" asp-route-id="">Redaguoti</a>
                <a type="button" class="btn btn-warning btn-sm" asp-page="" asp-route-id="">Ištrinti</a>
            </td>
        </tr>
        ++i;
    }
</table>