@model AFDB.Pages.Tables._PeopleTablesModel
@{
    int i = 1;
}
<table class="table table-sm table-hover table-striped">
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>Lytis</th>
            <th>Gimimo data</th>
            <th>El. Paštas</th>
            <th>Tel. Nr</th>
            <th>Šalis</th>
            <th>Miestas</th>
            <th>Gatvė</th>
            <th>Namas</th>
            <th>Butas</th>
            <th>Registracijos data</th>

        </tr>
        @foreach (var u in Model.People)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Html.DisplayFor(modelItem => u.Id)</td>
                <td>@Html.DisplayFor(modelItem => u.Firstname)</td>
                <td>@Html.DisplayFor(modelItem => u.Lastname)</td>
                <td>@Html.DisplayFor(modelItem => u.Gender)</td>
                <td>@Html.DisplayFor(modelItem => u.Birthdate)</td>
                <td>@Html.DisplayFor(modelItem => u.Email)</td>
                <td>@Html.DisplayFor(modelItem => u.Phone)</td>
                <td>@Html.DisplayFor(modelItem => u.Country)</td>
                <td>@Html.DisplayFor(modelItem => u.City)</td>
                <td>@Html.DisplayFor(modelItem => u.Street)</td>
                <td>@Html.DisplayFor(modelItem => u.House)</td>
                <td>@Html.DisplayFor(modelItem => u.Apartment)</td>
                <td>@Html.DisplayFor(modelItem => u.Registrationdate)</td>
            </tr>
            ++i;
        }
    </table>
